extends ../base/base

block content
  h2.pageTitle Upload Video
  div.recorder
    video#preview
    button#actionBtn Start Recording
  if errorMessage
    span=errorMessage
  form(method="POST", enctype="multipart/form-data")
    input(type="file", accept="video/*", required, id="video", name="video")
    input(type="file", accept="image/*", required, id="thumb", name="thumb")
    input(type="text", placeholder="Title", required, name="title", maxLength=30)
    input(type="text", placeholder="Description", required, name="description", minLength=30)
    input(type="text", placeholder="Hashtags, separated by comma.", required, name="hashtags")
    input(type="submit", value="Upload Video")

block scripts
    script(src="/static/js/recorder.js") 
