extends ../base/base

block content
  h2.pageTitle Change Password
  if errorMessage 
    span=errorMessage 
  form(method="POST")
    input(placeholder="Old Passwored", name="oldPassword", type="password")
    input(placeholder="New Passwored", name="newPassword", type="password")
    input(placeholder="New Passwored Confirm", name="newPasswordConfirmation", type="password")
    input(type="submit", value="Change Password")
