extends ../base/base
include ../components/video

block content
  .top-bar
    img(src="/" + shownUser.avatarUrl, crossorigin).profile-image
    .top-bar__data
      h2=shownUser.username
  .profile
    .profile-video
      each video in shownUser.videos
        +video(video, "/" + shownUser.avatarUrl)
      else
        span Sorry, Nothing found
